*
!package.json
!package-lock.json
!tsconfig.base.json
!apps
apps/*
!apps/auth
apps/auth/*
!apps/auth/package.json
!apps/auth/tsconfig.json
!apps/auth/src
!apps/auth/src/**
!apps/body
apps/body/*
!apps/body/package.json
!apps/body/tsconfig.json
!apps/body/src
!apps/body/src/**
!apps/gate
apps/gate/*
!apps/gate/package.json
!apps/gate/tsconfig.json
!apps/gate/src
!apps/gate/src/**
!apps/push-gateway
apps/push-gateway/*
!apps/push-gateway/package.json
!apps/push-gateway/tsconfig.json
!apps/push-gateway/src
!apps/push-gateway/src/**
!apps/server
apps/server/*
!apps/server/package.json
!apps/server/tsconfig.json
!apps/server/src
!apps/server/src/**
!packages
packages/*
!packages/api-contract
packages/api-contract/*
!packages/api-contract/package.json
!packages/api-contract/tsconfig.json
!packages/api-contract/src
!packages/api-contract/src/**
!packages/nostr
packages/nostr/*
!packages/nostr/package.json
!packages/nostr/tsconfig.json
!packages/nostr/src
!packages/nostr/src/**
!packages/buzz-client
packages/buzz-client/*
!packages/buzz-client/package.json
!packages/buzz-client/tsconfig.json
!packages/buzz-client/src
!packages/buzz-client/src/**
