*
!package.json
!package-lock.json
!tsconfig.base.json
!apps
apps/*
!apps/auth
apps/auth/*
!apps/auth/package.json
!apps/auth/tsconfig.json
!apps/auth/src
!apps/auth/src/**
!packages
packages/*
!packages/nostr
packages/nostr/*
!packages/nostr/package.json
!packages/nostr/tsconfig.json
!packages/nostr/src
!packages/nostr/src/**
!packages/buzz-client
packages/buzz-client/*
!packages/buzz-client/package.json
!packages/buzz-client/tsconfig.json
!packages/buzz-client/src
!packages/buzz-client/src/**
